footer {
  svg:hover {
    scale: 1.1;
    &:not(#location-pin) {
      fill: var(--hover-color);
      * {
        fill: var(--hover-color);
      }
    }
  }

  .links-container {
    span.fs-lg-5.fs-6 a {
      color: white;
    }

    span.fs-lg-5.fs-6:hover a {
      color: black !important;
    }
  }
}
