@media screen and (max-width: 991px) {
  html {
    scrollbar-width: none;
  }

  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    .logo-box {
      width: 100vw;
      justify-content: space-between;
      padding: 0 1rem;
    }
  }

  .hero {
    background-image: url(../Static/Images/herbg-small.png);
    background-size: contain;
    background-position: 0 0;
    img {
      display: none;
    }
    .text-box {
      padding: 0;
      div:has(.btn) {
        align-self: center;
        scale: 1.1;
      }
    }
    .desc {
      backdrop-filter: blur(5px);
      padding: 0;
    }
  }

  .plans-section {
    .card:hover {
      translate: 0 0;
    }
    &:has(.card:hover) .card:not(:hover) {
      opacity: 1;
      filter: none;
    }
    .card#most-popular {
      scale: 1;
    }

    .services-container {
      scale: 1.05;
      margin-bottom: 10rem;
      /* padding: 0.5rem 0 5rem 0; */
      width: clamp(10px, 85vw, 2000px);

      .text-box {
        margin-bottom: 1rem;
        > div {
          justify-content: space-between;
        }

        .offer-services {
          text-align: end;
        }

        .btn {
          display: none;
        }
      }

      .services {
        top: 45%;
        /* position: absolute; */
        height: 125%;
        /* background: green; */
        gap: 0.5rem;
        padding: 0;
        width: clamp(10px, 90vw, 2000px);

        .service {
          /* flex-basis: 25%; */

          padding: 0;
          img {
            height: 100%;
            object-fit: cover;
          }
          span {
            display: none;
          }

          &:hover {
            img {
              translate: 0 0;
            }
          }
        }
      }
    }
    .book-now {
      background: #515fce;
      border-color: #0f143d;
      scale: 1.4;
    }
  }

  .team-section {
    .text-box {
      justify-content: center;
      align-items: center !important;
      flex-direction: column;
      gap: 1rem;

      .display-5 {
        font-size: calc(2rem + 0.3vw);
        text-align: center;
        margin: 0 !important;
      }
      .mobile {
        display: block;
      }
      .smaller {
        font-size: calc(1.3rem + 0.3vw);
        font-weight: 600;
        font-family: var(--normal-font);
        background: #515fce;
        color: white;
        padding: 0.7rem 1rem;
        border-radius: 0.5rem;
      }

      figure {
        display: none;
      }
    }

    div:has(.doctor-card-container) {
      /* outline: 5px solid green; */
      width: 100%;
      .doctor-card-container {
        display: none !important;
        visibility: hidden;
      }

      .container-model {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        .doctors {
          display: flex;
          /* background: red; */
          flex-direction: column;
          padding: 1rem;

          img {
            border-radius: 0.7rem;
          }

          span.name {
            font-weight: bold;
            font-family: var(--subheading-font);
          }

          span.speciality {
            line-height: 0.5;
          }
        }
      }
    }
  }

  .review-scroller {
    .group {
      animation: move 25s linear infinite;
    }
    &:hover {
      .group {
        animation-play-state: running;
      }
    }
  }

  footer {
    width: 100%;
    svg {
      width: 2rem;
      &:not(#location-pin) {
        animation: colorchange 2s linear infinite;
        * {
          animation: colorchange 1s linear infinite;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .hero {
    background-image: url(../Static/Images/herobg.png);
    background-size: cover;
  }
}
@keyframes colorchange {
  0% {
    fill: black;
  }
  50% {
    fill: var(--hover-color);
  }
  100% {
    fill: black;
  }
}

@media screen and (min-width: 992px) {
  .plans-section .card-holder .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1/5;
  }
}
