@media screen and (max-width: 991px) {
  html {
    scrollbar-width: none;
  }
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    .logo-box {
      width: 100vw;
      justify-content: space-between;
      padding: 0 1rem;
    }
  }

  .hero {
    background-image: url(../Static/Images/herbg-small.png);
    background-size: contain;
    background-position: 0 0;
    img {
      display: none;
    }
    .text-box {
      padding: 0;
      div:has(.btn) {
        align-self: center;
        scale: 1.1;
      }
    }
    .desc {
      backdrop-filter: blur(5px);
      padding: 0;
    }
  }

  .plans-section {
    .card:hover {
      translate: 0 0;
    }
    &:has(.card:hover) .card:not(:hover) {
      opacity: 1;
      filter: none;
    }
    .card#most-popular {
      scale: 1;
    }

    .services-bento {
      grid-template-columns: repeat(4, 4.7rem);
      grid-template-rows: repeat(3, 4.7rem);
      gap: 0.5rem;
      grid-template-areas:
        "box-1 box-2 box-2 box-3"
        "box-4 box-4 box-5 box-5"
        "box-4 box-4 box-6 box-6";

      .service {
        img {
          &.mobile-img {
            scale: 1;
            opacity: 1;
          }

          &.desktop-img {
            scale: 0;
            opacity: 0;
          }
        }

        &#whatsapp-consultation-service {
          span {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  .review-scroller {
    .group {
      animation: move 25s linear infinite;
    }
    &:hover {
      .group {
        animation-play-state: running;
      }
    }
  }

  footer {
    width: 100%;
    svg {
      width: 2rem;
      &:not(#location-pin) {
        animation: colorchange 2s linear infinite;
        * {
          animation: colorchange 1s linear infinite;
        }
      }
    }
  }
}

@keyframes colorchange {
  0% {
    fill: black;
  }
  50% {
    fill: var(--hover-color);
  }
  100% {
    fill: black;
  }
}

@media screen and (min-width: 992px) {
  .plans-section .card-holder .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1/5;
  }
}
