.plans-section {
  .card {
    > :not(.btn) {
      padding-bottom: 1rem;
    }
  }

  .card#most-popular {
    background: var(--font-color-sec);
    z-index: 1;
    .btn {
      color: white;
    }

    &::after {
      opacity: 0;
      scale: 0;
      pointer-events: auto;
      z-index: 20;
      padding: 0 1rem;
      content: "Most Popular";
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--font-color-sec);
      font-weight: 700;
      position: absolute;
      align-self: center;
      top: -5%;
      right: 0;
      backdrop-filter: blur(20px);
      background: yellow;
      height: 10%;
      border-radius: 2rem;
      transition: 300ms ease-in-out;
    }

    &:hover::after {
      opacity: 1;
      scale: 1;
    }
  }
  .card:hover {
    z-index: 15;
    translate: 0 -10%;
  }
  &:has(.card:hover) .card:not(:hover) {
    opacity: 0.4;
    filter: blur(2px);
  }
}

.plans-section {
  .card-holder {
    display: grid;
    place-content: center;
    width: 80%;
    grid-template-columns: repeat(auto-fit, 14rem);

    .card {
      transform: translateY(100%);
      opacity: 0;
      scale: 0;
      transition: 300ms ease-out;

      &.show {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
      }
    }
  }
}

/* services */
.plans-section {
  position: relative;
  .services-bento {
    display: grid;
    grid-template-rows: repeat(3, 8rem);
    grid-template-columns: repeat(3, 8rem);
    gap: 1rem;
    grid-template-areas:
      /* "box-1 box-3 box-5 box-5 box-6 box-6 box-9 "
      "box-2 box-3 box-S box-S box-S box-8 box-9 "
      "box-2 box-4 box-4 box-7 box-7 box-8 box-10"; */
      "box-1 box-1 box-2"
      "box-3 box-6 box-2"
      "box-3 box-4 box-5";

    .service {
      border: 0.2rem solid rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      position: relative;
      overflow: hidden;
      transform: translateX(-500%);
      opacity: 0;
      scale: 0;
      transition: 500ms ease-out;

      &.show {
        transform: translateX(0) !important;
        opacity: 1 !important;
        scale: 1 !important;
      }

      span {
        grid-row: 4/5;
        grid-column: 1/2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        backdrop-filter: blur(5px);
        font-size: 0.8rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
      }

      img {
        width: 100%;
        grid-row: 1/4;
        grid-column: 1/2;

        &.mobile-img {
          scale: 0;
          opacity: 0;
        }
      }

      &::after {
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        content: var(--after-content);
        height: 100%;
        width: 100%;
        position: absolute;
        transition: 200ms ease-out;
        transform-origin: bottom;
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.2rem;
        font-size: 0.9rem;
        transform: scaleY(0);
      }

      &:hover {
        &::after {
          transform: scaleY(1);
        }
      }
    }
  }
}

.plans-section::before,
.plans-section::after {
  content: "";
  filter: blur(5px);
  position: absolute;
  background: var(--font-color-sec);
  width: 100%;
  /* transform: skew(-45deg); */
  z-index: -99;
  height: 10%;
}
.plans-section::after {
  top: 0;
  transform: translateY(200%);
}
.plans-section::before {
  transform: translateY(250%);
}
